@charset "utf-8";

/* CSS Document */

.body-bg {
    background: #e6e6e6;
}

.box-full {
    width: 100%;
}

.box-bg-g {
    background: #f4f4f4;
}

.box-bg-w {
    background: #fff;
}

.box-w1000 {
    width: 1000px;
    margin: 0 auto;
}

.head {
    height: 44px;
    line-height: 44px;
    background-color: #246dd1;
    border-bottom: 3px solid #50c23e;
}

.head img {
    width: 199px;
    height: 44px;
}

.banner {
    background: #44ade5;
    background-size: 100% 262px;
    width: 100%;
    height: 262px;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src=../images/banner-bg.png, sizingMethod=scale);
}

.pic-box-banner {
    width: 767px;
    height: 165px;
}

.bann-r {
    background: url(../images/banner-rbg.png) no-repeat;
    width: 220px;
    height: 200px;
    margin-top: 35px;
}

.bann-mes1,
.bann-mes2,
.bann-mes3 {
    width: 90px;
    height: 90px;
    text-align: center;
    padding-top: 17px;
    color: #fff;
}

.bann-mes1 {
    background: url(../images/banner-ry1.png) no-repeat;
    top: -13px;
    left: 30px;
}

.bann-mes2 {
    background: url(../images/banner-ry2.png) no-repeat;
    top: 110px;
    left: 10px;
}

.bann-mes3 {
    background: url(../images/banner-ry3.png) no-repeat;
    top: 70px;
    right: -4px
}

.bann-tit a {
    display: inline-block;
    padding: 7px 18px;
    color: #fff;
    margin-right: 2px;
}

.bann-tit a:hover {
    background: #1288ed;
    text-decoration: none;
}

.bann-tit a.on {
    background: #1288ed;
    text-decoration: none;
}

.con-01 {
    display: block;
}

.tit-01 {
    height: 36px;
    line-height: 36px;
}

.bg-blue {
    background: #1288ed;
}

.bg-orange {
    background: #e78302;
}

.bg-green {
    background: #7aa909;
}

.bg-violet {
    background: #8a6291;
}

.bg-gray {
    background: #989898;
}

.tit-01 h1 {
    line-height: 28px;
    margin-top: 4px;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
}

.fold {
    display: block;
    background: url(../images/icon-fold.png) no-repeat 0 0;
    width: 13px;
    height: 10px;
}

.fold-close {
    display: block;
    background: url(../images/icon-fold.png) no-repeat 0 -10px;
    width: 13px;
    height: 10px;
}

.font-bg1,
.font-bg2,
.font-bg3,
.font-bg4,
.font-bg5 {
    display: inline-block;
    padding: 0 10px;
}

.font-bg1 {
    background: #145b98;
}

.font-bg2 {
    background: #844f0b;
}

.font-bg3 {
    background: #4b660b;
}

.font-bg4 {
    background: #6b1e79;
}

.font-bg5,
.font-bg6 {
    display: inline-block;
    padding: 0 2px;
}

.font-bg5 {
    background: #145b98;
}

.font-bg6 {
    background: #575757;
}

.w-250 {
    width: 250px;
}

.w-738 {
    width: 738px;
}

.w-504 {
    width: 504px;
}

.w-229 {
    width: 229px;
}

.w-186 {
    width: 186px;
}

.w-173 {
    width: 173px;
}

.w-356 {
    width: 357px;
}

.bg-r {
    background: url(../images/bg-right.png) repeat-y;
}

.tit-02 {
    background: url(../images/icon-h2line.png) repeat-x 0 bottom;
}

.tit-02 h2 {
    background: url(../images/icon-h2pic.png) no-repeat;
    height: 21px;
    line-height: 21px;
    font-size: 16px;
    font-weight: normal;
    padding-left: 37px;
}

.lab-sel {
    background: url(../images/icon-row-d.png) no-repeat right 8px;
    padding-right: 12px;
    display: inline-block;
}

.btn-more {
    background: url(../images/icon-more.png) no-repeat;
    width: 35px;
    height: 7px;
    display: inline-block;
}

.tit-02 h3 {
    font-size: 16px;
    font-weight: normal;
}

.pic-box {
    width: 504px;
    height: 285px;
    overflow: hidden;
}

.pic-box2 {
    width: 738px;
    height: 285px;
    overflow: hidden;
}

.tit-02 h4 {
    font-size: 22px;
    font-weight: normal;
}

.dl100 {
    background: url(../images/pic-100.png) no-repeat;
    width: 104px;
    height: 49px;
    position: absolute;
    right: 12px;
    top: 0;
}

.bg-1000 {
    background: url(../images/bg-1000.png) repeat-y;
}

.money {
    background: url(../images/pic-bgmoney.png) no-repeat;
    width: 186px;
    height: 90px;
    text-align: center
}

.pic-mes {
    border-bottom: 1px dashed #d5d5d5;
    padding: 12px 24px;
}

.pic-mes2 {
    padding: 8px 24px;
}

.pic-box3 {
    width: 965px;
    height: 156px;
    margin: 0 auto;
}

.end {
    padding: 25px 24px;
    background: #fff url(../images/pic-bgfont.png) no-repeat 685px 20px;
}

.connect {
    background: url(../images/connect.png) no-repeat;
    width: 15px;
    height: 47px;
}

.mg-top {
    top: 138px;
}

.mg-right {
    right: 140px;
}

.mg-topb {
    top: -30px;
}

.pd-12{
	padding:12px;
}

.num {
    position: absolute;
    background: url(../images/bg-num.png) no-repeat;
    width: 34px;
    height: 35px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding-left: 3px;
}

.num-mes {
    height: 28px;
    line-height: 28px;
    background: #fafafa;
    font-size: 12px;
    font-family: "宋体"
}

.pos-rmg {
    position: relative;
    top: -2px;
    margin-left: 3px;
}

.pos-rmg2 {
    position: relative;
    top: -2px;
    margin-left: 10px;
}

.h-98 {
    height: 98px;
}

.font-leg,
.font-leg2 {
    display: inline-block;
    width: 20px;
    height: 3px;
    margin-right: 5px;
    position: relative;
    top: -3px;
}

.font-leg {
    background: #1384e6;
}

.font-leg2 {
    background: #30c035;
}

.foot p {
    padding: 6px 0;
}

.foot a {
    margin: 0 5px;
}


/*全省下拉框*/


/*.all-prav,.all-prav2{ width:80px; text-align:left; border:1px solid #737373; background:#f9f9fa; display:none; z-index:1;}
.all-prav li,.all-prav2 li{ margin:1px; padding-left:8px; height:30px; line-height:30px;}
.all-prav li:hover,.all-prav2 li:hover{ background:#1288ed; color:#fff;}
.t-25{ top:23px;}
.l-100{ left:170px;}
.l-130{ left:260px;}
.h-260{height:260px;}
.ofl-auto{overflow:auto;}*/

.hoverbox {
    position: relative;
    z-index: 2;
    color: #333;
    font-size: 14px;
}

.hovertt {
    background: url(../images/icon-row-d.png) no-repeat right 8px;
    padding-right: 12px;
    display: inline-block;
    height: 26px;
}

.hovertt-cur {
    color: #ff9900;
}

.hovercont {
    width: 100px;
    text-align: left;
    border: 1px solid #737373;
    background: #f9f9fa;
    display: none;
    z-index: 1;
    top: 25px;
    left: -10px;
    height: 150px;
    overflow: auto;
    position: absolute;
}

.hovercont li {
    margin: 1px;
    padding-left: 8px;
    height: 30px;
    line-height: 30px;
}

.hovercont li:hover {
    background: #1288ed;
    color: #fff;
}

.chart_section_body-b {
    height: 180px;
}

.chart_section_body {
    height: 295px;
}

.chart_tab_body .pane {
    height: 100%;
    display: none;
}


/*2014-7-8*/

.add-asty {
    display: block;
    width: 150px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.more-ellipsis {
    display: block;
    width: 130px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.h-29{
	height:29px;
}

.text-link a {
    display: inline-block;
    height: 38px;
    color: #333;
    font-size: 14px;
    line-height: 38px;
    padding-left: 20px;
    background: url(../images/text-link.png) no-repeat 0 center;
}

.btn-list-1 li.short button{
    width:100% !important;
}